<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据挖掘虚拟仿真实验平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/new.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <style>
        .index {
            width: 10%;
        }
        #tableStuDes td{
            font-size: 18px;

        }
    </style>
</head>
<body>

<!--未提交显示-->
<div class="layui-row" id="uprecord"
     style="width: 900px; padding: 20px; margin: auto auto; background-color: #f2f2f2;display: none">
    <form class="layui-form" action="" id="upForm" method="POST">

        <div class="layui-col-md7 layui-col-space10 " style="font-size: 15px;">
            <input id="recordId1" value="0" type="hidden" name="recordId1">

            <div class="layui-form-item">
                <label class="layui-form-label">实验名称</label>
                <div class="layui-input-inline" style="width: 65%">
                    <input id="expname" type="text" name="expname"
                           readonly="true" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">实验任务</label>
                <div class="layui-input-inline">
                    <textarea style="width: 700px;height: 100px;" type="text"
                              name="exptarget" id="exptarget"
                              readonly="true"
                              autocomplete="off" class="layui-input"
                              rows=80 cols=120>
                    </textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">实验过程</label>
                <div class="layui-input-inline" style="width: 45%">
                    <textarea id="expprocess" lay-verify="required" type="text" name="expprocess"
                              placeholder="请输入实验过程" autocomplete="off"
                              style="width: 700px;height: 180px;"
                              class="layui-input" rows=80 cols=120
                              onpropertychange="this.style.posHeight=this.scrollHeight "></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">实验结果</label>
                <div class="layui-input-inline" style="width: 45%">
                    <textarea id="expresult" lay-verify="required" type="text" name="expresult"
                              placeholder="请输入实验结果" autocomplete="off"
                              style="width: 700px;height: 80px;"
                              class="layui-input" rows=40 cols=120
                              onpropertychange="this.style.posHeight=this.scrollHeight "></textarea>
                </div>
            </div>

            <div class="layui-form-item layui-upload">

                <label class="layui-form-label">上传代码</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="test1" style="margin-left: 20px">选择代码</button>
                    <button id="hideUpload" type="button" style="display: none"></button>
                </div>

            </div>

        </div>

        <div class="layui-form-item layui-row">


            <div class="layui-input-block" style="width:300px;margin: auto; margin-top: 20px">


                <button class="layui-btn layui-inline" lay-submit lay-filter="submit" id="uploadFileBtn2"
                        style="width: 100px">
                    保存
                </button>

                <!--                <button class="layui-btn layui-inline" type="button" lay-submit="" lay-filter="preLook"-->
                <!--                        style="width: 100px">-->
                <!--                    预览-->
                <!--                </button>-->
            </div>
        </div>
    </form>

</div>


<!--提交后显示-->
<div class="layui-card-body " style="display: none" id="showrecord">
    <input id="recordSubmit1" value="0" type="hidden">
    <table class="layui-table" id="tableStuDes">
        <tr>
            <td class="index">学号</td>
            <td th:text="${session.loginUser.getUsername()}"></td>
            <td class="index">姓名</td>
            <td th:text="${session.loginUser.getRealname()}"></td>
            <td class="index" id="fenShu" style="display: none">分数</td>
            <td id="score0" style="display: none"></td>

        </tr>
    </table>
    <table class="layui-table" style="white-space: pre-line;table-layout: fixed">
        <tr>
            <td class="index">实验任务</td>
            <td id="work"></td>
        </tr>

        <tr>
            <td class="index">实验过程</td>
            <td id="process"></td>
        </tr>
        <tr>
            <td class="index">实验结果</td>
            <td id="result"></td>
        </tr>
        <tr>
            <td class="index">实验代码</td>
            <code>
                <td id="code">

                </td>
            </code>
        </tr>

    </table>
    <div id="buttons" style="display: none">
        <button class="layui-btn layui-bg-green " onclick="changeRecord1()"
                style="width: 200px">
            返回修改
        </button>

        <button class="layui-btn layui-bg-green " onclick="submitRecord1()"
                style="width: 200px">
            立即提交
        </button>
    </div>


</div>


</body>


<script th:inline="javascript">

    var files = [];
    var lookFile;
    var flag;


    function changeRecord1() {
        $("#uprecord").css('display', 'block')
        $("#showrecord").css('display', 'none')
        if ($("#recordId1").val() !== 0) {

            $("#test1").html("替换代码")
        }
    }


    function submitRecord1() {

        id = $("#recordSubmit1").val()
        layer.confirm("注意：报告提交后则不能修改！！！", {
            icon: 4,
            title: "提交报告",
            btn: ['确认', '取消']
        }, function (index) {
            $.post("/submitRecord/" + id, function (res) {
                if (res.code === 200) {
                    layer.msg('提交成功，等待教师评阅', {icon: 6, time: 1500})
                    location.reload()
                } else {
                    layer.msg('请稍后重试', {icon: 5, time: 1000})
                }

            })
            layer.close(index)
        })

    }


    layui.use(["upload", "form"], function () {

        var upload = layui.upload,
            form = layui.form;
        expId = getQueryString("expid")

        $.get("/findRecord/" + expId, function (res) {

            if (res.code === 200) {
                // console.log(res.data)
                // 若有过保存记录，默认显示表格
                if (res.data) {

                    str = 'stuRecord/' + [[${session.loginUser.getGname()}]] + '_' + res.data.expname + '/' + res.data.recordcode

                    // 填充表单
                    $("#expname").val(getQueryString('expName'))
                    $("#exptarget").val(res.data.expwork)
                    $("#expprocess").val(res.data.expprocess)
                    $("#expresult").val(res.data.expresult)
                    $("#recordId1").val(res.data.id)

                    let uploadBox = $('#test1').parent();
                    uploadBox.append('   <a onclick="xadmin.open(\'预览代码\',\'add_lookshare.html?storagePath=' + str + '&flag=0\',550,350)" title="查看"  href="javascript:;">' +
                        '          <span>' + res.data.recordcode + '</span>' +
                        '   </a>');

                    $("#uprecord").css('display', 'none')//隐藏表单
                    $("#showrecord").css('display', 'block')//显示表格
                    // 填充表格
                    $("#work").html(res.data.expwork)
                    $("#process").html(res.data.expprocess)
                    $("#result").html(res.data.expresult)
                    $("#recordSubmit1").val(res.data.id)


                    // 查看实验报告中的代码
                    // path = encodeURIComponent(encodeURIComponent(str))
                    html = '   <a onclick="xadmin.open(\'点击预览\',\'add_lookshare.html?storagePath=' + str + '&flag=0\',550,350)" title="查看"  href="javascript:;">' +
                        '          <span>' + res.data.recordcode + '</span>' +
                        '   </a>'
                    $("#code").html(html)

                    // flag = 0表示保存，1表示已经提交
                    if (res.data.flag === 1) {
                        // console.log(res.data.score)
                        $("#fenShu").css('display', '')
                        $("#score0").css('display', '')
                        if (res.data.score) {
                            $("#score0").html(res.data.score)
                        } else {
                            $("#score0").html("未打分")
                        }
                    } else {
                        // 显示 返回修改 和 立即提交 按钮
                        $("#buttons").css('display', 'block')
                    }
                } else {
                    $("#uprecord").css('display', 'block')//显示div
                    $("#showrecord").css('display', 'none')//隐藏div
                    InitRecord(expId)

                }
            } else {
                layer.msg("失败");
            }
        })


        function InitRecord(expId) {

            // tag 为 0 表示没填写实验报告
            // tag 为 1 表示expRecord中已经存在之前，对内容进行修改
            $.post("/getExpsByExpId/" + expId, function (res) {
                if (res.code === 200) {

                    $("input[name=expname]").val(res.data.expname);
                    $("textarea[name=exptarget]").val(res.data.expwork);

                } else {
                    layer.msg("系统繁忙，稍后重试")
                }
            })
        }


        //监听预览


        //监听提交
        form.on('submit(submit)', function (data) {

            // console.log("长度为"+Object.keys(files).length);
            // console.log(data.field)
            //若长度>0,则说明选中了文件，执行upload.render中choose函数
            // console.log("点击form")
            // console.log(data.field)

            if (Object.keys(files).length > 0) {
                // console.log(fname);
                // console.log(getSuffix(fname))
                flag = 0;

                $('#hideUpload').trigger('click');

            } else if (Object.keys(files).length === 0 && data.field.recordId1 > 0) {

                data.field.id = data.field.recordId1
                data.field.flag = 0
                $.post('/addRecord', data.field, function (res) {
                    if (res.code === 200) {
                        //成功
                        // console.log(res)
                        $("#recordSubmit1").val(res.data)
                        $("#recordId1").val(res.data)
                        layer.msg('保存成功')
                        location.reload()
                    } else {
                        return layer.msg('请稍后重新尝试！');
                    }
                })
            } else {
                layer.msg("上传文件不能为空!", {icon: 5, time: 1000})
            }
            return false;
        });


        //文件上传
        var uploadInst = upload.render({
            elem: '#test1'         //绑定点击按钮
            , url: '/addRecord'   //访问后台路径
            , accept: 'file'               //图片格式
            , exts: 'py'
            , auto: false                     //取消自动上传
            , method: 'post'                 //请求上传的 http 类型
            , bindAction: '#hideUpload'       //绑定真正的上传按钮
            , choose: function (obj) { //选择文件后的回调函数
                //将每次选择的文件追加到文件队列
                files = obj.pushFile();
                // 清空,防止多次上传
                for (let k in files) {
                    delete files[k];
                }
                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)

                obj.preview(function (index, file, result) {
                    obj.pushFile();// 再添加

                    let fileBox = $('#test1').parent();
                    fileBox.find('.layui-upload-choose').remove();
                    fileBox.append(`<span class="layui-inline layui-upload-choose">${file.name}</span>`);
                    lookFile = file;
                    // files[0] = file
                    fname = file.name;
                });
            }
            , before: function (obj) {
                this.data = {
                    "expid": expId,
                    "expprocess": $('#expprocess').val(),
                    "expresult": $('#expresult').val(),
                    "expname": $('#expname').val(),
                    "flag": flag,
                    "id": $("#recordSubmit1").val()
                }
            }
            , done: function (res) { //执行上传请求后的回调

                if (res.code === 200) {
                    //成功
                    // console.log(res)
                    if (flag === 0) {
                        $("#recordSubmit1").val(res.data)
                        $("#recordId1").val(res.data)
                        layer.msg('保存成功')
                        // 保存成功不要刷新页面，而是div隐藏和显示
                        // 保存成功后刷新页面则 当前页面重新读取数据表显示
                        location.reload()
                    } else {
                        // location.reload();
                        layer.msg('提交完成')
                        location.reload()
                    }
                } else {
                    return layer.msg('请稍后重新尝试！');
                }

            }

        });


    });


</script>
</html>