<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/new.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <style>
        #editor {
            margin: 20px;
            width: 90%;
            height: 600px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
    </style>
</head>

<body>

<div class="layui-fluid">
    <div class="layui-side" style="width:85%;margin-left:2%;margin-top: 1%;">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h4 class="layui-colla-title">数据安全规则</h4>
                <div class="layui-colla-content" id="safe" style="white-space: pre-line;font-size: 16px;">
                    师生必须严格遵守《中华人民共和国数据安全法》和《中华人民共和国网络安全法》。其中重点提示：
                    第一，任何个人和组织不得窃取或者以其他非法方式获取个人信息，不得非法出售或者非法向他人提供个人信息。
                    第二， 任何个人和组织应当对其使用网络的行为负责，不得设立用于实施诈骗，传授犯罪方法，制作或者销售违禁物品、管制物品等违法犯罪活动的网站、通讯群组，不得利用网络发布涉及实施诈骗，制作或者销售违禁物品、管制物品以及其他违法犯罪活动的信息。
                    第三，任何个人和组织发送的电子信息、提供的应用软件，不得设置恶意程序，不得含有法律、行政法规禁止发布或者传输的信息。
                    第四，电子信息发送服务提供者和应用软件下载服务提供者，应当履行安全管理义务，知道其用户有前款规定行为的，应当停止提供服务，采取消除等处置措施，保存有关记录，并向有关主管部门报告。
                    第五，开展数据处理活动应当依照法律、法规的规定，建立健全全流程数据安全管理制度，组织开展数据安全教育培训，采取相应的技术措施和其他必要措施，保障数据安全。利用互联网等信息网络开展数据处理活动，应当在网络安全等级保护制度的基础上，履行上述数据安全保护义务。
                    第六，开展数据处理活动以及研究开发数据新技术，应当有利于促进经济社会发展，增进人民福祉，符合社会公德和伦理。
                    第七，开展数据处理活动应当加强风险监测，发现数据安全缺陷、漏洞等风险时，应当立即采取补救措施；发生数据安全事件时，应当立即采取处置措施，按照规定及时告知用户并向有关主管部门报告。
                    第八，任何组织、个人收集数据，应当采取合法、正当的方式，不得窃取或者以其他非法方式获取数据。
                </div>
            </div>
            <div class="layui-colla-item">
                <h4 class="layui-colla-title">成绩规则</h4>
                <div class="layui-colla-content" id="rank" style="white-space: pre-line;;font-size: 16px;">
                    本课程分为八次实验，每位同学必须在规定时间内提交实验数据、程序代码和实验报告，每次实验成绩满分100分，其中实验数据占20%，实验代码占30%，实验报告占40%，课堂表现（以平台积分形式体现）占10%。该实验成绩在数据挖掘课程总成绩中占比32%。
                    课程成绩评定加强非标准化、综合性评价。采用过程性考核（60%，含实验数据、实验代码和课堂表现）和总结性考核（40%，实验报告）相结合方式。利用多元化过程考核（实验预习、实验过程、实验互动、平台积分等）和多形式（标准化测验、非标准化实践和案例）的总结考核方式，进行探索报告、课程论文、报告答辩，严格评价团队合作、知识应用、创造性学习等能力，注重过程，积极改进。
                </div>
            </div>
            <div class="layui-colla-item">
                <h4 class="layui-colla-title">积分规则</h4>
                <div class="layui-colla-content" id="point" style="white-space: pre-line;;font-size: 16px;">
                    本平台面向对平台有贡献的用户，设置奖励积分：
                    第一，向本平台分享一次可运行的、健康的、合法的代码，奖励10积分；
                    第二，向本平台分享一次健康的、合法的数据，根据数据数量和质量，奖励5-20积分；
                    第三，在本平台给讨论提供切实可行的解决方案，根据问题的难度，奖励5-20积分。
                    以上积分主要用于成绩评定。
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>