<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <!--    <meta name="viewport"-->
    <!--          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>-->
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <!--                    <form class="layui-form layui-col-space5">-->
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" id="uploadDes" placeholder="请输入描述信息" autocomplete="off"
                               class="layui-input"></div>
                    <div class="layui-inline layui-show-xs-block">
                        <button class="layui-btn" lay-submit="" lay-filter="search" onclick="getShares(getQueryString('flag'),null,10)" title="立即搜索">
                            <i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <!--                    </form>-->
                    <div class="layui-inline layui-show-xs-block" style="margin-left: 60px;">
                        <button class="layui-btn"
                                onclick="xadmin.open('上传分享','add_share.html?flag='+getQueryString('flag'),500,300)">
                            <i class="layui-icon"></i>上传分享
                        </button>
                    </div>
                </div>
                <div class="layui-card-body ">
                    <xblock>
                        <span class="x-right" style="line-height:50px;float: right;font-size: 16px">共有数据：<span
                                id="num"></span> 条</span>
                    </xblock>
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>上传者</th>
                            <th>上传描述</th>
                            <th>下载次数</th>
                            <th>积分</th>
                            <th>点击下载</th>
                        </tr>
                        </thead>
                        <tbody id="shares">
                        </tbody>
                    </table>
                    <div id="pager" style="text-align: center;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>

    flag = getQueryString("flag")
    mPageSize = 10
    pageNo = null
    if (flag != null) {
        getShares(flag, pageNo, mPageSize);
    }

</script>

</html>