<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据挖掘虚拟仿真实验平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!--        <script language=”javascript” type=“text/javascript” src=“/js/index.js”></script>-->
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <style>
        .index {
            width: 10%;
        }
    </style>
</head>
<body>


<!--提交后显示-->
<div class="layui-card-body " style="display: none" id="showrecord">
    <table class="layui-table">
        <tr>
            <td class="index">学号</td>
            <td th:text="${session.loginUser.getUsername()}"></td>
            <td class="index">姓名</td>
            <td th:text="${session.loginUser.getRealname()}"></td>
        </tr>
    </table>
    <table class="layui-table" style="white-space: pre-line;table-layout: fixed">
        <tr>
            <td class="index">实验任务</td>
            <td id="work"></td>
        </tr>

        <tr>
            <td class="index">实验过程</td>
            <td id="process"></td>
        </tr>
        <tr>
            <td class="index">实验结果</td>
            <td id="result"></td>
        </tr>
        <tr>
            <td class="index">实验代码</td>
            <td id="code"></td>
        </tr>

    </table>

</div>


</body>


<script>
    // var formData1 = new FormData(parent.document.getElementsByTagName("form"));
    // var formData2 = new FormData(parent.form)
    // console.log(formData2)

    var files = parent.document.getElementById('test1').files;
    console.log(files)

    var formdata = getFormData(parent.$("#test"));//调
    console.log(formdata)

    function getFormData(form) {
        var data = form.serialize();
        data = decodeURI(data);
        var arr = data.split('&');
        var item, key, value, newData = {};
        for (var i = 0; i < arr.length; i++) {
            item = arr[i].split('=');
            key = item[0];
            value = item[1];
            if (key.indexOf('[]') != -1) {
                key = key.replace('[]', '');
                if (!newData[key]) {
                    newData[key] = [];
                }
                newData[key].push(value);
            } else {
                newData[key] = value;
            }
        }
        return newData;
    }
</script>

</html>