<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据挖掘虚拟仿真实验平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/new.js"></script>

    <!--        <script language=”javascript” type=“text/javascript” src=“/js/index.js”></script>-->
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <style>
        .comment {
            width: 100%; /*自动适应父布局宽度*/
            overflow: auto;
            word-break: break-all;
            /*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时，
            当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/
        }

        a {
            color: green;
        }
    </style>
</head>
<body>
<!--<div class="layui-row " style="width: 900px; padding: 20px; margin: auto auto; background-color: #f2f2f2">-->
<div class="layui-card-body ">
    <table class="layui-table">
        <tr>
            <td>学号</td>
            <td id="username"></td>
            <td>姓名</td>
            <td id="realname"></td>
            <td>分数</td>
            <td id="score0">

            </td>
        </tr>
    </table>
    <form class="layui-form" method="POST" style="margin-top: 20px;" id="resetForm">
        <input type="text" id="id" name="recordId" style="display: none">
        <table class="layui-table" style="white-space: pre-line">
            <tr>
                <td >条目</td>
                <td >内容</td>
                <td >打分</td>
            </tr>
            <tr>
                <td>场景体会</td>
                <td id="videoDesc"></td>
                <td id="videoDescScore">
                    <input  class="layui-input score" name="videoDescScore" type="text" />
                </td>
            </tr>
            <tr id="dataDescTr">
                <td>数据描述</td>
                <td id="dataDesc"></td>
                <td id="dataDescScore">
                    <input class="layui-input score" name="dataDescScore" type="text"/>
                </td>

            </tr>
            <tr>
                <td>实验过程与效果分析</td>
                <td id="expprocess"></td>
                <td id="expprocessScore">
                    <input class="layui-input score" name="expProcessScore" type="text" lay-verify="required"/>
                </td>
            </tr>
            <tr>
                <td>实验结果</td>
                <td id="expresult"></td>
                <td id="expresultScore">
                    <input class="layui-input score" name="expResultScore" type="text" lay-verify="required"/>
                </td>

            </tr>
            <tr>
                <td>心得与体会</td>
                <td id="experience"></td>
                <td id="experienceScore">
                    <input class="layui-input score" name="experienceScore" type="text" lay-verify="required"/>
                </td>

            </tr>
            <tr>
                <td>实验代码</td>
                <td id="recordcode"></td>
                <td id="recordcodeScore">
                    <input class="layui-input score" name="recordCodeScore" type="text" lay-verify="required"/>
                </td>

            </tr>
            <tr>
                <td>总体体会</td>
                <td id="totalDesc"></td>
                <td id="totalDescScore">
                    <input class="layui-input score" name="totalDescScore" type="text" lay-verify="required"/>
                </td>

            </tr>
        </table>



        <div class="layui-form-item" style="margin-top: 10px;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="update" id="put"
                        style="width: 20%;margin-right: 5%;">立即提交
                </button>
            </div>
        </div>
    </form>

</div>
<!--</div>-->

</body>
<script>
    var m = ''
    var png;
    var csv;
    var index = getQueryString("index");
    initForm(parent.document.getElementsByTagName("tr")[index]);
    $(".score").attr('placeholder','0-100之间的整数').attr('lay-verify','required').attr('onkeyup','if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,\'\')}else{this.value=this.value.replace(/\\D/g,\'\')};if (this.value>100)value=100')

    function initForm(tr) {

        // console.log($(tr).find(":nth-child(8)").html());
        png = $(tr).find(":nth-child(12)").html()
        csv = $(tr).find(":nth-child(13)").html()
        path = 'stuRecord/' + getQueryString("gname") + '_' + getQueryString("expname") + '/' + $(tr).find(":nth-child(2)").html() + '.py'
        html = '   <a onclick="xadmin.open(\'实验代码\',\'add_lookshare.html?storagePath=' + path + '&flag=0\',900,600)" title="查看"  href="javascript:;">' +
            '          <span>' + $(tr).find(":nth-child(8)").html() + '</span>' +
            '   </a>'
        html1 = '   <a style="margin-left: 10px" onclick="xadmin.open(\'结果附件\',\'simple_checkStuAppd.html?expName=' + getQueryString("expname") + '&graName=' + getQueryString("gname") + '&stuName=' + $(tr).find(":nth-child(2)").html() + '&figCount=' + png + '&csvCount=' + csv + '\',900,600)" title="查看"  href="javascript:;">' +
            '          <span>结果附件</span>' +
            '   </a>'
        if (png == 0 && csv == 0) {
            $("#expresult").html($(tr).find(":nth-child(7)").html());
        } else {
            $("#expresult").html($(tr).find(":nth-child(7)").html() + html1);
        }
        $("#recordcode").html(html);
        $("#username").html($(tr).find(":nth-child(2)").html());
        $("#realname").html($(tr).find(":nth-child(3)").html());
        $("#expprocess").html($(tr).find(":nth-child(6)").html());
        $("#id").val($(tr).find(":nth-child(9)").html());
        $("#experience").html($(tr).find(":nth-child(11)").html())
        $("#videoDesc").html($(tr).find(":nth-child(14)").html())
        if ($(tr).find(":nth-child(15)").html() || $(tr).find(":nth-child(15)").html()==0.0){
            // console.log("meiyozhi1")
            $("#dataDescTr").remove()
        }else {
            $("#dataDesc").html($(tr).find(":nth-child(15)").html())
        }
        $("#totalDesc").html($(tr).find(":nth-child(16)").html())

        // console.log($(tr).find(":nth-child(11)").html())
        var s = $(tr).find(":nth-child(10)").html()
        // console.log(s);
        if (s == 'null') {
            m = '确认批改？'
        } else {
            $("#score0").html(s);
            m = '该报告已有分数，确实要重新打分吗？'
            $.get("/detailScore/"+$(tr).find(":nth-child(9)").html(),function (res){
                if (res.code==200){
                    $(".score").attr('readonly','true')
                    $("#put").css('display','none')
                    $("input[name='videoDescScore']").val(res.data.videoDescScore)
                    $("input[name='dataDescScore']").val(res.data.dataDescScore)
                    $("input[name='expProcessScore']").val(res.data.expProcessScore)
                    $("input[name='expResultScore']").val(res.data.expResultScore)
                    $("input[name='experienceScore']").val(res.data.experienceScore)
                    $("input[name='recordCodeScore']").val(res.data.recordCodeScore)
                    $("input[name='totalDescScore']").val(res.data.recordCodeScore)


                }
            })
        }



    }

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        //监听提交(对应按钮字段 lay-filter="add" 的操作)
        form.on('submit(update)', function (data) {
            console.log(data.field)
            layer.confirm(m, {title: false, closeBtn: false, skin: 'layui-layer-molv'}, function (layno) {
                layer.close(layno);
                $.post("/upStepRecord", data.field, function (res) {
                    if (res.code == 200) {
                        x_admin_close();

                        layer.msg("操作成功", {time: 500});

                        parent.getRecord(getQueryString("gname"), getQueryString("expname"));//执行父层html文件中存在的函数
                    } else {
                        layer.msg("操作失败，请稍后重试")
                    }
                })
            })
            return false;//这行代码没有，则无法执行
        })

    })
</script>
</html>