<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.newdmsp.demo.dao.DataMapper">
    <insert id="uploadSelfData" keyProperty="id" useGeneratedKeys="true">
        <if test="expId>0">
        insert into dataset (expId, dataPath, tid, creatime)
        values (#{expId},#{dataPath},#{tid},#{creatime})
        </if>
        <if test="expId==0">
        insert into dataset (dataPath, sid, creatime)
        values (#{dataPath},#{sid},#{creatime})
        </if>
    </insert>
    <insert id="addDataSet">
        insert into dataset (expId, expName, dataPath, tid, creatime)
        values (#{expId},#{expName},#{dataPath},#{tid},#{creatime})
    </insert>


    <select id="getDefaultData" resultType="com.newdmsp.demo.entity.DataSet">
        SELECT d.*,e.expname FROM
            (SELECT id, expId, dataPath
             FROM `dataset`
             WHERE
                 tid > 0 OR sid = #{sid}) d
                LEFT JOIN `exp` e
                          on e.id = d.expId

    </select>
    <select id="dataSetPathByExpId" resultType="com.newdmsp.demo.entity.DataSet">
        select * from
        dataset
        where expId = #{expId}
    </select>
</mapper>