<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.newdmsp.demo.dao.GradeMapper">

    <insert id="addGrade" useGeneratedKeys="true" keyProperty="id" parameterType="com.newdmsp.demo.entity.Grade">
        insert into grade(gname, tid) values (#{gname},#{tid})
    </insert>
    <insert id="addGradeExp" parameterType="int">
        insert into gtoe(gid, expid) value (#{gradeId}, #{expId})
    </insert>

</mapper>